.contentsWrapper {
  display: flex;
  padding: 1rem;
}

.img {
  border-radius: 99%;
}

.selfIntroduction {
  flex: 1;
  padding: 0 2.5rem;
}

.skillStackSection {
  flex: 1;
  padding: 0 2.5rem;
}

.skillStackShowcase {
  grid-gap: 0.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
}

.skillEvidencies {
  margin-top: 1rem;
}

.twoSpans1 {
  justify-self: center;
  align-self: center;
  grid-column: 1 / span 2;
  width: 100%;
  object-fit: contain;
}

.twoSpans2 {
  justify-self: center;
  align-self: center;
  grid-column: 3 / span 2;
  width: 100%;
  object-fit: cover;
}

.skillText {
  animation: animation 1s;
}

.square {
  justify-self: center;
  align-self: center;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.squareCss {
  justify-self: center;
  align-self: center;
  object-fit: contain;
  width: 100%;
  height: 70%;
}

.squareReact {
  justify-self: center;
  align-self: center;
  object-fit: cover;
  width: 100%;
  height: 70%;
}

@keyframes in {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 100%;
    height: 200px;
  }
}

@keyframes animation {
  0% {
    position: absolute;
    opacity: 0;
  }
  60% {
    position: absolute;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.skillPanel {
  border: 1px solid;
}

.listItem {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.window {
  border: 1px solid;
  height: 200px;
  animation: in 0.5s;
  position: relative;
  overflow-y: scroll;
  margin-top: 0.25rem;
}

.button {
  color: var(--blue);
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 0.5rem;
}

.button:focus {
  outline: none;
}

@media only screen and (max-width: 900px) {
  .contentsWrapper {
    flex-direction: column;
  }

  .skillStackShowcase {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }

  .twoSpans2 {
    grid-column: 1 / span 2;
  }

  .img {
    width: 200px;
    height: 200px;
  }

  .skillStackSection {
    margin-top: 3rem;
  }
}
