.imgSize {
  width: 4rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.card {
  width: 300px;
  height: 300px;
  box-shadow: 0 0 15px rgb(0 0 0 / 50%);
  border-radius: 25px;
  background-color: var(--white);
  display: grid;
  justify-content: center;
}

.link {
  color: var(--black);
  display: flex;
  align-items: center;
}

.linkText {
  margin-left: 5px;
  font-size: 2rem;
  color: initial;
}

@media only screen and (max-width: 425px) {
  .contactMethod {
    display: flex;
    flex-direction: row;
  }

  .mailButton {
    font-size: 5rem;
  }

  .card {
    width: 250px;
    height: 200px;
  }

  .imgSize {
    width: 3rem;
  }
}
