:root {
  --black: black;
  --white: white;
  --gray: gray;
  --light-gray: #f4f4f4;
  --green: #589f73;
  --blue: #54d3d1;
  --modal-color: rgba(0, 0, 0, 0.4);
}

a {
  color: var(--green);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

.tab-small {
  margin-left: 1rem;
}

.tab {
  margin-left: 2rem;
}

.tab-large {
  margin-left: 2.5rem;
}

h1 {
  margin: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mb-small {
  margin-bottom: 0.5rem;
}

.px-2 {
  padding: 0 1rem;
}
