.window {
  height: 80%;
  width: 80%;
  background-color: white;
  margin: 5.5rem auto;
  border: 1px solid black;
  padding: 1rem;
  overflow-x: scroll;
}
.container {
  overflow-y: hidden;
}

.iconWrapper {
  margin-left: auto;
  text-align: end;
  padding: 10px;
}
